{{> header title='Home'}}


<h1>Home page</h1>
<form action="/user/{{username}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">File input</label>
        <input type="file" id="file"  name="file[0]">

        <label for="file1">File input</label>
        <input type="file" id="file1"  name="file[1]">
    </div>

    <button type='submit' class='btn btn-default'>Upload</button>
</form>
{{username}}
{{#if userFilesCount}}
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Created</th>
        </tr>
    {{#each userFiles}}
        <tr>
            <td>{{this.name}}</td>
            {{#if this.isDir}}
                <td>Directory</td>
            {{else}}
                <td>File</td>
            {{/if}}
            <td>{{this.size}}</td>
            <td>{{this.birthtime}}</td>
        </tr>
    {{/each}}
    </table>
{{/if}}

{{> footer}}
